
main {
    max-width: 800px;
    margin: 0em auto 1em auto;
    padding: 0;    
}

header {
    padding: 20px;
}

footer {
	max-width: 800px;
    margin: 5em auto 0em auto;
    padding: 20px;
	text-align: right;
	color: grey;
}

footer p{
	text-align: right;
	margin-bottom: 0.1em;
}

section {
    padding: 20px;
}

p {	
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
    text-align: justify;
	hyphens: auto;
}

li {
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	text-align: justify;
	hyphens: auto;
}

.namecard-wrapper {
	/**background-image: url('../img/small_from_e3.jpg');**/
    background-position:center;
    background-repeat: none;
    /**background-color: skyblue;**/
    background-size: cover;
	background: rgb(29,164,166);
	background: -moz-linear-gradient(0deg, rgba(29,164,166,1) 0%, rgba(220,222,44,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(29,164,166,1) 0%, rgba(220,222,44,1) 100%);
	background: linear-gradient(0deg, rgba(29,164,166,1) 0%, rgba(220,222,44,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1da4a6",endColorstr="#dcde2c",GradientType=1);
	position: relative;
	padding: 0;
	width:100%;
}

header.namecard {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    text-shadow: 1px 1px 1px #009900;
	max-width: 800px;
    margin: 0em auto 1em auto;
    padding: 50px 1em 1em 1em;
	position: relative;
}

header.namecard h1, 
header.namecard h2, 
header.namecard h3,
header.namecard h4, 
header.namecard h5, 
header.namecard h6  {
	display:block;
	text-align: center;
}

.utility-bar {
    text-align:center;
    position: relative;
    font-size: 1em;
}

.utility-bar > * {
    margin-left: 10px;
    margin-right: 10px;
    color: #999999;
}
#radiobutton-theme {
    display: inline;
}
#radiobutton-theme input,
#radiobutton-theme label
{
    display: none;
}

label[for=prefer-color-dark] {
    transition: color 1s;
    color: #ffd400;
}

label[for=prefer-color-dark]:hover {
    color: #999999;
}

label[for=prefer-color-light] {
    transition: color 1s;
    color: #999999;
}

label[for=prefer-color-light]:hover {
    color: #ffd400;
}

header.namecard p {
    margin-bottom: 5px;
    text-align: center;
}

header.namecard address {
    text-align: center;
}


header.namecard address i {
width: 1.3em;
}

header.namecard a {
    color: rgb(225,235,255);
}

span.career-year {
	display: inline-block;
	float: right;
}

@media only screen and (max-width: 700px) {
	span.career-year {
		float: inherit;
	}
	span.career-affiliation::after {
		content: ", ";
	}
}

#profile-img {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.button-print {
	position: absolute;
	right: 1em;
	font-size: 1em;
	background: none;
	border: none;
	color: #007BFF;
}

.only-on-print {
	display: none;
}

@media not print {
    [data-theme="dark"] html,
    [data-theme="dark"] body {
        background-color: black;
        color: white;
    }

    [data-theme="dark"] .namecard-wrapper {
        background: rgb(161,89,33);
        background: -moz-linear-gradient(0deg, rgba(161,89,33,1) 0%, rgba(20,23,112,1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(161,89,33,1) 0%, rgba(20,23,112,1) 100%);
        background: linear-gradient(0deg, rgba(161,89,33,1) 0%, rgba(20,23,112,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a15921",endColorstr="#141770",GradientType=1);
    }

    [data-theme="dark"] .utility-bar > * {
        color: #DDDDDD;
    }

    [data-theme="dark"] a {
        color: #79baff;
    }
}