#navbar {
	width: 100%;
	overflow: scroll;
	white-space: nowrap;
	text-align: center;
}

#navbar a {
	overflow:hidden;
	background-color:grey;
	transition: height .5s;
	height: 1em;
}

@media only screen and (max-width: 1000px) {
}